@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana, Genava, Tahoma, sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
}
html{
  scroll-behavior: smooth;
}
ol, ul {
  list-style: none;
}

body .services{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;
}
/* Contenu de la page */

.tltName{
  font-family: 'Roboto', sans-serif;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

section{
  padding: 200px 100px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 0px;
}

.banner{
  position: relative;
  min-height: 100vh;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.banner img{
  /* display: flex; */
  position: right;
  width: 400px;
}

.banner h2{
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span{
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3{
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.btn{
  position: relative;
  background:lightseagreen;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
.btn:hover{
  opacity: 0.8;
}


/* header */

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky{
  background-color: #fff;
  padding: 20px 100px;
}
header.sticky .logo{
  color: #000;
}
header.sticky ul li a{
  color: #000;
}

header .logo{
  color: #fff;
  font-size: 24px;
  text-transform: uppercase; /* MAJUSCULE */
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

header ul{
  position: relative;
  display: flex;
  margin-right: 100px;
}

header ul li {
  position: relative;
  list-style: none;
  margin-right: 50px;
}

header ul li a{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

header ul li a:hover{
  color:darkorange;
}



.heading{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading h2{
  font-weight: 600;
  font-size: 30px;
}



.content{
  display: flex;
  justify-content: space-around;
  margin-top: 75px; 
  padding: 0px 90px;
}

.contentBx{
  padding-right: 30px;
}

.contentBx h3{
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 50px;
}
.contentBx p{
  margin-top: 10px;
}

.margeImg img{
  max-width: 100%;
  margin-left: 30%;
}









.skills .skills-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .column{
  width: calc(50% - 30px);
}

.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .right .bars .infoS{
  margin-top: 15px;
}

.skills .skills-content .right .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .right span{
  font-weight: 500;
}

.skills .skills-content .right .line{
  height: 5px;
  width:100%;
  background: lightgray;
  position: relative;
}
.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: lightseagreen;
}

.skills .skills-content .right .html::before{
  width: 90%;
}
.skills .skills-content .right .css::before{
  width: 70%;
}
.skills .skills-content .right .js::before{
  width: 60%;
}
.skills .skills-content .right .php::before{
  width: 20%;
}
.skills .skills-content .right .mysql::before{
  width: 70%;
}









.services{
  background: #0b090a;
  z-index: -100000;
} 
.services p, .services h2{
  color: #fff;
}
.box{
  position: relative;
  width: 300px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #060c21;
  transition: 0.5s;
  z-index: 100;
}
.box span img{
  height: 250px;
  
  /* padding: 1% 20%; */
}
.box .imgBx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
}

.box:hover{
  height: 350px;
}

span .box:hover{
  height: 400px;
}
span .box img{
  margin-left: 16px;
}

.box .imgBx img{
  max-width: 100%;
  opacity: 0.1;
  transition: 0.5s;
}
.box:hover .imgBx img{
  opacity: 1;
}

.box:before{
  
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.box:after{
  
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(10px);
} 



.box .contentImg{
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 90px;
  /* background: rgba(0, 0, 0, 0.4); */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.box:hover .contentImg{
  opacity: 1;
}
.box .contentImg h2{
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}
.box .contentImg h2 .tltC{
  font-size: 14px;
  color: #000;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 1px;
}



.letterT{
  color: lightseagreen;
}




/* footer */
footer {
  
  flex-shrink: 0;
  border-top: 1px dashed #000;
  width: 100%;
  background: #f1f1f1;
  color: #333;
}
.footer_contact a{
  color: lightseagreen;
}
.footer_contact a:hover{
  text-decoration: underline;
}
#contenu_footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  padding: 50px 0 100px;
}

.bloc {
  width: 25%;
  margin: 0 30px;
}

.footer_services h3,
.footer_contact h3,
.footer_medias h3 {
  font-size: 25px;
  padding-bottom: 20px;
}

.footer_contact p, .footer_contact a{
  padding: 5px 0;
}

.liste_services,
.liste_horraire,
.liste_media {
  list-style-type: none;
}

.liste_services li {
  padding: 2px 0;
}

.liste_services a {
  text-decoration: none;
  color: #333;
}

.liste_services a:hover {
  color: #030303;
}

.span_service {
  color: black;
}

.span_service:hover {
  color: lightseagreen;
}

.container_media {
  text-align: left;
}

.container_media img {
  align-items: center;
  padding-right: 20px;
}


/* Projet CSS */

