html {
    font-family: Verdana, Genava, Tahoma, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}

/*-------------------------------------Header------------------------------------*/


/* -----------------------------------Menu Burger------------------------------------*/

.burgerIcone {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
    z-index: 20;
}

.burgerLigne,
.burgerLigne2 {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 6px;
    transition: background .3s ease-in-out;
    -webkit-transition: transform .3s ease-in-out;
}

.burgerLigne2 {
    background-color: crimson;
}

.burgerLigne.white {
    background: #ffffff;
}
.navigation {
    position: fixed;
    right: 0;
    padding: 0 30px;
    background: #333;
    width: 20%;
    height: 100%;
    opacity: 1;

    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;

    transform: translateX(100%);
    -webkit-transform: translateX(100%);


}

.navigation.isOpen {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

.decale {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);

    transition: transform .6s ease-in-out;
    -webkit-transition: transform .6s ease-in-out;
}

.decale.isOpen {

    transform: translateX(-20%);
    -webkit-transform: translateX(-20%);

    opacity: 0.5;
}

.navigation ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.navigation ul li {
    margin: 10px 0;
}

.navigation ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.070em;
    font-weight: 800;
}

.navigation ul li a:hover {
    color: crimson;
}

/*-------------------------------------Body-------------------------------------*/

body{
    height: 100vh;
    background-image: linear-gradient(402deg, rgba(232, 232, 232, 0.03) 0%, rgba(232, 232, 232, 0.03) 10%,rgba(14, 14, 14, 0.03) 10%, rgba(14, 14, 14, 0.03) 66%,rgba(232, 232, 232, 0.03) 66%, rgba(232, 232, 232, 0.03) 72%,rgba(44, 44, 44, 0.03) 72%, rgba(44, 44, 44, 0.03) 81%,rgba(51, 51, 51, 0.03) 81%, rgba(51, 51, 51, 0.03) 100%),linear-gradient(395deg, rgba(155, 155, 155, 0.03) 0%, rgba(155, 155, 155, 0.03) 23%,rgba(30, 30, 30, 0.03) 23%, rgba(30, 30, 30, 0.03) 63%,rgba(124, 124, 124, 0.03) 63%, rgba(124, 124, 124, 0.03) 73%,rgba(195, 195, 195, 0.03) 73%, rgba(195, 195, 195, 0.03) 84%,rgba(187, 187, 187, 0.03) 84%, rgba(187, 187, 187, 0.03) 100%),linear-gradient(365deg, rgba(254, 254, 254, 0.03) 0%, rgba(254, 254, 254, 0.03) 27%,rgba(180, 180, 180, 0.03) 27%, rgba(180, 180, 180, 0.03) 33%,rgba(167, 167, 167, 0.03) 33%, rgba(167, 167, 167, 0.03) 34%,rgba(68, 68, 68, 0.03) 34%, rgba(68, 68, 68, 0.03) 63%,rgba(171, 171, 171, 0.03) 63%, rgba(171, 171, 171, 0.03) 100%),linear-gradient(395deg, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 3%,rgba(97, 97, 97, 0.03) 3%, rgba(97, 97, 97, 0.03) 40%,rgba(40, 40, 40, 0.03) 40%, rgba(40, 40, 40, 0.03) 55%,rgba(5, 5, 5, 0.03) 55%, rgba(5, 5, 5, 0.03) 73%,rgba(242, 242, 242, 0.03) 73%, rgba(242, 242, 242, 0.03) 100%),linear-gradient(557deg, rgba(70, 70, 70, 0.03) 0%, rgba(70, 70, 70, 0.03) 11%,rgba(178, 178, 178, 0.03) 11%, rgba(178, 178, 178, 0.03) 23%,rgba(28, 28, 28, 0.03) 23%, rgba(28, 28, 28, 0.03) 72%,rgba(152, 152, 152, 0.03) 72%, rgba(152, 152, 152, 0.03) 86%,rgba(43, 43, 43, 0.03) 86%, rgba(43, 43, 43, 0.03) 100%),linear-gradient(376deg, rgb(72,35,35),rgb(1, 1, 1));
}
.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
.clr_title{
    color: crimson;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 40px;
    font-weight: 100;
    color: #fff;
    margin-bottom: 30px;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: crimson;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #ffffff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background-color: crimson;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}










